:root {
    --main-bg-darkblue: #09254A;
    --main-bg-lightorange: #F89820;
    --main-bg-yellow: #FEDB27;
    --main-bg-gray: #E7E7E7;
    --main-bg-darkgray: #141418;
}

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}


body {
    height: 100vh;
    width: 100vw;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 3vh;
    overflow-x: hidden;
    box-sizing: border-box;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

@media only screen and (max-width: 375px) {
    h1 {
        font-size: 6vmin;
    }

    h2 {
        font-size: 5vmin;
    }

    p {
        font-size: 4vmin;
    }
}

/*header*/
header {
    display: flex;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 10vh;
    align-items: center;
    position: absolute;
}

navbar {
    display: flex;
    vertical-align: middle;
    padding-right: 20px;
}

.nav-link {
    color: var(--main-bg-darkblue);
    border: 0.5vmin solid transparent;
    border-radius: 5%;
    padding: 1vmin 2vmin 1vmin 2vmin;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
    vertical-align: middle;
    text-align: right;
}

.nav-link:hover {
    border: 0.5vmin solid var(--main-bg-darkblue);
    background-color: var(--main-bg-darkblue);
    color: white;
}

.nav-link:active {
    transform: scale(0.8);
}

.dropdown-button {
    font-size: 7vh;
    padding: 1vmin 2vmin 1vmin 2vmin;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
    vertical-align: middle;
    text-align: right;
    display: none;
}

@media only screen and (max-width: 768px) {
    header {
        position: fixed;
    }
    navbar{
        margin: 1vw;
    }
    .nav-link {
        display: none;
        margin: 0;
    }

    .dropdown-button {
        display: inline-flex;
        margin-right: 0;
    }
    .dropdown-button:hover{
        /*background-color: var(--main-bg-darkblue);
        color: white;*/
        border-radius: 5%;
    }
    .dropdown-button:active{
        transform: scale(0.8);
    }
}

/* dd */
.dropdown {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100vw;
    position: fixed;
    top: 10vh;
    z-index: 1;
    background-color: black;
}

.dd-link {
    font-size: 1.5rem;
    text-decoration: none;
}

/* eof dd */
/*eof HEADER*/
/*container*/
.container {
    text-align: center;
}

section {
    width: 100vw;
    padding: 2vw 2vw 2vw 2vw;
}

/* WELCOME-SECTION */
#welcome-section {
    background-image: url("img/wp.svg");
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.bio {
    margin-left: 3em;
}

.bio h1 {
    color: var(--main-bg-lightorange);
    font-size: 2em;
    text-transform: uppercase;
}

.bio p {
    color: black;
}

#saya {
    display: block;
    border-radius: 50%;
    height: 40vh;
    align-self: center;
    max-width: 290px;
}

@media only screen and (max-width: 768px) {
    .bio {
        margin: 0;
        padding: 0;
        width: 100vw;
    }

    #welcome-section {
        background-image: url("img/wp_mobile.svg");
        flex-direction: column;
        padding: 0;
    }

    #saya {
        max-width: 40vw;
        width: auto;
        height: auto;
    }

    #welcome-section p {
        margin: 4vw 0 4vw 0;
    }
}

/*bag project*/
section#projects {
    background-color: var(--main-bg-darkblue);
    color: white;
}

section#projects h1 {
    padding: 2vw 0 2vw 0;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    /*update selanjutnya ganti nowrap*/
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.project-tile {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    border: 0vw solid white;
    border-radius: 2vmax;
    /*height: 45vh;*/
    width: 20vw;
    margin: 1vmin 2vmin 1vmin 2vmin;
    text-align: center;
    justify-content: center;
}

.project-image {
    width: 100%;
    height: 10vw;
    max-height: 50rem;
    overflow: hidden;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    object-fit: cover;
}

.project-title {
    margin: 1vh 1vw 1vh 1vw;
    flex-grow: 0;
}

.project-desc {
    display: block;
    flex-grow: 1;
    margin: 1vh 1vw 1vh 1vw;
    max-height: 50%;
    line-height: inherit;
}

.project-link {
    flex-grow: 0;
    background-color: var(--main-bg-lightorange);
    text-decoration: none;
    color: white;
    font-family: inherit;
    font-size: inherit;
    width: 70%;
    border: 0.5vw solid var(--main-bg-lightorange);
    border-radius: 5vmax;
    flex-direction: row;
    padding: 1vmin 0 1vmin 0;
    margin: 1vh;
    align-self: flex-end;
    cursor: pointer;
}

.project-link:hover {
    transform: scale(0.8);
}

.project-link:active {
    opacity: 0.7;
}

.project-link img {
    height: 0.9rem;
    margin-right: 0.1rem;
    align-self: center;
    width: auto;
}

@media only screen and (max-width: 1000px) {
    .project-list {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .project-tile {
        width: 70vw;
    }

    .project-image {
        display: none;
    }
    .project-link {
        border-radius: 3vmax;
        padding-left: 1vw;
        padding-right: 1vw;
    }
}

/*  eof project */
/*footer*/
footer {
    width: 100vw !important;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141418;
}

footer h1 {
    color: white;
    padding: 2vw 0 1vw 0;
}

#contact {
    align-items: center;
    vertical-align: middle;
    max-width: 90%;
}

.contact-link {
    padding: 1vmin 1vmax 1vmin 1vmax;
}

.contact-link a {
    color: white;
    text-decoration: none;
}

.contact-link a:hover {
    color: yellow;
}

.contact-logo {
    flex-wrap: nowrap;
    height: 1rem;
}

footer p {
    margin: 1vw 0 1vw 0;
}

@media only screen and (max-width: 875px) {
    #contact {
        display: flex;
        flex-direction: column;
        text-align: justify;
    }
}
