html{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}

p {
    width: 100%;
    text-align: center;
}

td {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    font-size: 250%;
    color: black;
}
