body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c3c3c3;
}

p {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

table {
    display: block;
    align-self: center;
}

.button{
    height: 20vw;
    width: 20vw;
    background-color: blue;
}
.button:hover{
    opacity: 0.5 !important;
}
.button:active{
    background-color: white !important;
    transition-duration: 0.5s !important;
}

.resetbutton {
    width: 30vw;
    align-self: center;
    background-color: orange;
    font-size: 2em;
    border-color: none;
}
